body
{
  background-image: url("pictures/communism.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1
{
  font-family: "Courier New";
  font-size: 30pt;
  background-color: rgb(64, 0, 0);
  color: white;
}

h3
{
  font-family: "Courier New";
  font-size: 24pt;
  color: white;
}

a
{
    background-color: yellow;
    color: black;
    font-family: "Courier New";
    font-size: 12pt;
}
a:hover
{
  background-color: rgb(64, 0, 0);
  color: white;
  font-family: "Courier New";
  font-size: 16pt;
}

p
{
  color: white;
  font-family: "Courier New";
  font-size: 11pt;
}
